* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 15px;
}

img {
  display: block;
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 999;
}

header .inner {
  padding: 20px 10px;
}

header .inner .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inner .row .logo {
  width: 200px;
}

header .inner .row .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inner .row .nav li {
  position: relative;
  padding: 0 16px;
}

header .inner .row .nav li::before {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: '';
  width: 1px;
  height: 10px;
  background: #ccc;
}

header .inner .row .nav .nav_link {
  color: #4c4c4c;
}

header .inner .row .nav .sns_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .inner .row .nav .sns_link a {
  width: 30px;
  margin-right: 16px;
}

header .inner .row .nav .sns_link a:nth-last-child(1) {
  margin: 0;
}

header .inner .row .nav_mobile {
  display: none;
}

header .mainmenu {
  position: relative;
  background: #F2F2F2;
  border: 1px solid #d8dad9;
  border-width: 1px 0;
}

header .mainmenu .area_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .mainmenu .area_nav .area_li {
  padding: 0 16px;
}

header .mainmenu .area_nav .area_li > a {
  display: block;
  width: 140px;
  height: 40px;
  color: #666666;
  line-height: 40px;
  text-align: center;
}

header .mainmenu .area_nav .area_li.mobile_only {
  display: none;
}

header .mainmenu .area_nav .area_li:hover > a {
  color: #ad005a;
}

header .mainmenu .area_nav .area_li:hover .dropdown {
  display: block;
}

header .mainmenu .area_nav .area_li:hover .dropdown2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .mainmenu .dropdown {
  display: none;
  position: absolute;
  left: 0;
  top: 41px;
  background: #F2F2F2;
  width: 100%;
  padding: 20px 0 10px;
}

header .mainmenu .dropdown li {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 10px;
}

header .mainmenu .dropdown li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .mainmenu .dropdown li a:hover p {
  color: #82a90e;
}

header .mainmenu .dropdown li a h3 {
  font-size: 20px;
  font-weight: bold;
  color: #82a90e;
  border-right: 1px solid #626262;
  padding-right: 16px;
}

header .mainmenu .dropdown li a p {
  color: #666666;
  padding-left: 16px;
}

header .mainmenu .dropdown2 {
  display: none;
  position: absolute;
  left: 0;
  top: 41px;
  background: #F2F2F2;
  width: 100%;
  padding: 40px 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

header .mainmenu .dropdown2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 15%;
}

header .mainmenu .dropdown2 li a:hover p {
  color: #82a90e;
}

header .mainmenu .dropdown2 li img {
  aspect-ratio: 5 / 3.68;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  margin-bottom: 15px;
}

header .mainmenu .dropdown2 li h3 {
  font-size: 20px;
  font-weight: bold;
  color: #82a90e;
  text-align: center;
  margin-bottom: 8px;
}

header .mainmenu .dropdown2 li p {
  color: #666666;
  text-align: center;
}

footer .pc_only {
  display: block;
}

footer .inner {
  color: #999;
  background: #333;
  font-size: 13px;
}

footer .inner .container {
  position: relative;
  padding: 20px 0 60px;
}

footer .inner .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .inner .left_area {
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

footer .inner .left_area .info_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 20px;
}

footer .inner .left_area .info_list li {
  width: 24%;
  max-width: 194px;
}

footer .inner .left_area .mobile_info {
  display: none;
}

footer .inner .left_area p {
  line-height: 2;
}

footer .inner .left_area p span {
  color: #82a90e;
}

footer .inner .left_area p .map_link {
  color: #5078c7;
}

footer .inner .left_area a {
  color: inherit;
}

footer .inner .right_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30%;
  max-width: 320px;
  padding-left: 20px;
}

footer .inner .right_area a {
  background: #4d4d4d;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 8px;
  margin-bottom: 10px;
}

footer .inner .right_area a img {
  display: inline-block;
  width: 25px;
  margin-right: 5px;
}

footer .inner .right_area a:nth-last-child(1) {
  margin-bottom: 0;
}

footer .inner .right_area .btn_50 {
  width: 48%;
}

footer .inner .right_area .btn_100 {
  width: 100%;
}

footer .inner .right_area .btn_r {
  background: #ff3333;
}

footer .inner .right_area .btn_line {
  background: #06c755;
}

footer .inner .right_area .btn_line img {
  vertical-align: middle;
}

footer .inner .right_area .btn_fb {
  background: #0866ff;
}

footer .inner .right_area .btn_fb img {
  vertical-align: text-bottom;
}

footer .inner .box {
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  height: 40px;
  background: #fff;
  padding: 5px;
  border-radius: 3px 3px 0 0;
}

footer .inner .box img {
  width: auto;
  height: 100%;
}

footer .copyright {
  background: #1a1a1a;
}

footer .copyright p {
  color: #fff;
  font-size: 12px;
  line-height: 48px;
  text-align: center;
}

@media screen and (max-width: 820px) {
  header .mainmenu .area_nav .area_li > a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 20px;
  }
  footer .inner h4 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
  }
  footer .inner .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .inner .left_area {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
  }
  footer .inner .left_area .info_list {
    display: none;
  }
  footer .inner .left_area .mobile_info {
    display: block;
  }
  footer .inner .left_area .mobile_info p {
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
  }
  footer .inner .right_area {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    max-width: none;
    padding: 0;
    margin-bottom: 1rem;
  }
  footer .inner .box {
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

@media screen and (max-width: 640px) {
  header {
    position: fixed;
    width: 100%;
    top: 0;
  }
  header .inner {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    height: 62px;
    z-index: 1000;
    background: #fff;
  }
  header .inner .row .logo {
    width: 120px;
  }
  header .inner .row .nav {
    display: none;
  }
  header .inner .row .nav_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .inner .row .nav_mobile .nav_link {
    font-size: 16px;
    color: #4c4c4c;
  }
  header .inner .row .nav_mobile .ham {
    position: relative;
    width: 40px;
    height: 30px;
    margin-left: 20px;
  }
  header .inner .row .nav_mobile .ham span {
    position: absolute;
    left: 0;
    width: 40px;
    height: 4px;
    background: #82a90e;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  header .inner .row .nav_mobile .ham span:nth-child(1) {
    top: 0;
  }
  header .inner .row .nav_mobile .ham span:nth-child(2) {
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  header .inner .row .nav_mobile .ham span:nth-child(3) {
    bottom: 0;
  }
  header .inner .row .nav_mobile .ham.on span:nth-child(1) {
    top: 50%;
    left: 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header .inner .row .nav_mobile .ham.on span:nth-child(2) {
    display: none;
  }
  header .inner .row .nav_mobile .ham.on span:nth-child(3) {
    bottom: auto;
    top: 50%;
    left: 0%;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  header .mainmenu {
    display: none;
  }
  header .mainmenu .container {
    width: 100%;
  }
  header .mainmenu.on {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 100%;
    padding-top: 62px;
    overflow-y: scroll;
  }
  header .mainmenu .area_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .mainmenu .area_nav .area_li {
    position: relative;
    width: 100%;
    border-bottom: 1px solid #bababa;
    padding: 0;
  }
  header .mainmenu .area_nav .area_li.mobile_only {
    display: block;
  }
  header .mainmenu .area_nav .area_li > a {
    height: 50px;
    width: 100%;
    font-size: 16px;
    line-height: 50px;
    text-align: left;
  }
  header .mainmenu .area_nav .area_li.sns_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 0;
    padding: 10px 20px;
  }
  header .mainmenu .area_nav .area_li.sns_block > a {
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 16px;
  }
  header .mainmenu .area_nav .area_li:hover .dropdown,
  header .mainmenu .area_nav .area_li:hover .dropdown2 {
    display: none;
  }
  header .mainmenu .area_nav .drop_btn {
    background: #d9d9d9;
  }
  header .mainmenu .area_nav .drop_btn::after {
    content: "";
    position: absolute;
    right: 20px;
    top: 15px;
    display: block;
    width: 30px;
    height: 20px;
    background: url(../images/googlefonts_icon/keyboard_arrow_up_24dp_FILL0_wght400_GRAD0_opsz24.svg) no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 999;
  }
  header .mainmenu .area_nav .drop_btn.on::after {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  header .mainmenu .dropdown {
    position: -webkit-sticky;
    position: sticky;
    display: none;
    top: auto;
    padding: 10px 0;
  }
  header .mainmenu .dropdown li {
    padding: 0 20px;
  }
  header .mainmenu .dropdown li:nth-last-child(1) {
    margin-bottom: 0;
  }
  header .mainmenu .dropdown li > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .mainmenu .dropdown li > a h3 {
    font-size: 16px;
    width: 90px;
    padding-right: 8px;
  }
  header .mainmenu .dropdown li > a p {
    display: block;
    width: 100px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    padding-left: 8px;
    font-size: 14px;
  }
  header .mainmenu .dropdown.on {
    display: block !important;
  }
  header .mainmenu .dropdown2 {
    position: -webkit-sticky;
    position: sticky;
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    top: auto;
    padding: 20px;
  }
  header .mainmenu .dropdown2 li {
    width: 45%;
    margin-bottom: 20px;
  }
  header .mainmenu .dropdown2 li:nth-last-child(1), header .mainmenu .dropdown2 li:nth-last-child(2) {
    margin-bottom: 0;
  }
  header .mainmenu .dropdown2.on {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  footer .inner h4 {
    font-size: 14px;
  }
  footer .inner .right_area a {
    font-size: 14px;
  }
  footer .inner .right_area .btn_50 {
    width: 24%;
  }
  footer .inner .right_area .btn_100 {
    width: 49%;
  }
  footer .inner .right_area .order_mo_1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .inner .right_area .order_mo_2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .inner .right_area .order_mo_3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .inner .right_area .order_mo_4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  footer .inner .right_area .order_mo_5 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  footer .inner .right_area .order_mo_6 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  footer .inner .right_area .order_mo_7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  footer .inner .right_area .order_mo_8 {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
  footer .inner .right_area .order_mo_9 {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
  }
  footer .inner .right_area .order_mo_10 {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10;
  }
  footer .inner .right_area .order_mo_11 {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11;
  }
  footer .inner .right_area .order_mo_12 {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12;
  }
}
